{
    "presets": ["react", "es2015", "stage-0"],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "inventor": "./server/inventor",
                "@server": "./server",
                "@shared": "./shared"
            }
        }],
	   "transform-decorators-legacy"
    ]
}
